.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pageButton {
  margin: 0px 5px;
  background-color: transparent;
  border: 1px solid rgb(154, 84, 162);
  border-radius: 5px;
  padding: 2px 5px;
}

.icon:hover {
  background-color: rgb(154, 84, 162);
  color: #ffffff;
}

.icon:disabled {
  background-color: rgb(217, 189, 223);
  color: #e9e9e9;
}

.pageText {
  background-color: rgb(217, 189, 223);
  color: #ffffff;
}

.pageText:disabled {
  color: #ffffff;
}