.backgroundColor {
  background-color: #ff0000;
}

/* 
  Text Properties 
*/
.textColorByName {
  color: red;
  color: rgb(255 0 0);
}

.textColorByHEX {
  color: #ff0000;
}

.textColorByRGB {
  color: rgb(255 0 0);
}

.textDirectionRTL {
  direction: rtl;
  unicode-bidi: bidi-override;
  /* Used to denote if multiple languages need the same change*/
}

.alignLastLineToRight {
  text-align-last: right;
}

.alignLastLineToLeft {
  text-align-last: left;
}

.alignLastLineEvenly {
  text-align-last: justify;
}

.verticalAlignParent {
  font-size: 30px;
}

.imageDim {
  height: 15px;
  width: 15px;
}

.verticalAlignBaseline {
  vertical-align: baseline;
}

.verticalAlignTextTop {
  vertical-align: text-top;
}

.verticalAlignTextBottom {
  vertical-align: text-bottom;
}

.verticalAlignSubscript {
  vertical-align: sub;
}

.verticalAlignSuperscript {
  vertical-align: super;
}

.textDecorationOptions {
  /* text-decoration-line: overline; */
  /* text-decoration-line: line-through; */
  /* text-decoration-line: underline; */
  /* text-decoration-line: overline underline; */
  /* text-decoration-color: rgb(230, 26, 26); */
  /* text-decoration-style: double; */
  /* text-decoration-style: solid; */
  /* text-decoration-style: dotted; */
  /* text-decoration-style: dashed; */
  /* text-decoration-style: wavy; */
  /* text-decoration-thickness: auto; */
  /* text-decoration-thickness: 5px; */
  /* text-decoration-thickness: 25%; */
  /* Shorthand */
  text-decoration: underline red solid 5px;
}

.textTransform {
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  text-transform: capitalize;
}

.textSpacing {
  background-color: aliceblue;
  padding-left: 30px;
  text-indent: 50px;
  letter-spacing: 5px;
  line-height: 30px;
  word-spacing: 10px;
  white-space: wrap;
}

.textShadow {
  /* offset-x | offset-y | blur-radius | color */
  /* text-shadow: 2px 2px 2px red; */
  color: rgb(172, 244, 57);
  text-shadow: 2px 1px 3px rgb(213, 244, 146), 1px 1px 5px rgb(244, 199, 94), 5px 5px 10px rgb(32, 217, 249);
}

.backgroundDemoDiv {
  width: 93%;
  height: 350px;
  border: 10px solid black;
  padding: 25px;
}

.background {
  background-color: coral;
  background-image: url("squbix_logo.jpg");
  background-position: center;
  /* auto, contain, cover, width / height */
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-attachment: scroll;
 
}

.border {
  /* border : 10px solid red; */
  border-width: 10px;
  /* border-style: solid; */
  border-top-style: dotted;
  border-right-style: dashed;
  border-bottom-style: solid;
  border-left-style: groove;
  border-color: red;
}

.margin {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  /* margin: 25px 50px 75px 100px; */
  /* margin: 25px 50px 75px; */
  /* margin: 25px 50px; */
}

.padding {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* padding: 25px 50px 75px 100px; */
  /* padding: 25px 50px 75px; */
  /* padding: 25px 50px; */
}

.css-box {
  text-align: center;
  margin: 10px;
  border: 10px solid green;
  padding: 10px;
  background: rgb(219, 240, 255);
}

.fontProperties {
  /* small, large, x-small, xx-small, x-large, xx-large, medium, etc.. */
  font-size: xx-large; 
  /* italic, oblique, normal */
  font-style: oblique;
  /* normal, bold, bolder, lighter, 100, 200, ....., 900 */
  font-weight: lighter;
}

.elementSize {
  height: 200px;
  width: 200px;
  max-height: 100px;
  max-width: 100px;
  min-height: 75px;
  min-width: 75px;
}

.navigationBar {
  background-color: #333;
  overflow: hidden;
  margin: 0px;
  /* Normal position */
  /* position: static; */
  /* Changes takes place relative to its normal position */
  position: relative;
  /* top: 50px; */
  /* left: 50px; */
  /* right: 50px; */
  /* bottom: 50px; */
  /* Positioning is done with respect to viewport */
  position : fixed;
  top: 10px;
  width: 100%;
}

.navigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: end;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: inherit;
}

.navigationBar a:hover {
  background-color: #ddd;
  color: black;
}

.navigationBar a.active {
  background-color: #04aa6d;
  color: white;
}

.sizeParentDiv {
  margin-bottom: 25px;
}

.displayPropertiesDiv {
  height: auto;
  background-color:#fff481;
  padding: 20px 0px 20px;
  display: flex;
}

.displayPropertiesParagraph {
  background-color: blue;
  padding: 10px;
  margin: 20px;
}

.displayPropertiesSpan {
  background-color: red;
  padding: 10px;  
  color: white;
}

.displayValue {
  /* display: none; */
  /* display: block; */
  /* display: inline; */
  
    /* display: inline-block;
    width: 300px;
    height: 150px; */
 
  /* Makes the children of the parent as next level in DOM */
  /* display : contents; */
  /* 
    Laying elements in one dimension and then defining 
    how those elements will grow in size or shrink in size.
  */
  display: flex;
  /* 
    Laying elements in a grid layout which is defined in the form of rows and columns
  */
  /* display : grid; */
  /* 
    display: inline-flex;
    display: inline-grid;
    display: table;
    display: list-item;
  */
}
.displayFlexDiv {
  height: 400px;
  background-color:#fff481;
  padding: 20px 0px 20px;
  margin-top: 30px;
  display: flex;
  /* 
    Sets the direction of flex container
    Valid values : row | row-reverse | column | column-reverse
  */
  
    flex-direction : row;
    flex-wrap: wrap; 
 
  /* flex-flow : flex-direction flex-wrap */
  /* 
    flex-flow: row wrap;
  */
  /* flex-start | flex-end | center | space-between | space-around | space-evenly */
  justify-content: flex-start;
  /* Align items in the vertical direction */
  /* Align all items with respect to vertical axis / cross axis */
  /* center | flex-start | flex-end | stretch | baseline */
  align-items : flex-start;
}
  
.displayFlexParagraph {
  background-color: blue;
  padding: 10px;
  margin: 20px;
}
  
.displayFlexSpan {
  background-color: red;
  padding: 10px;  
  color: white;
}

.flexItem1 {
  /* Sets Initial width of flex item */
  /* flex-basis: 35%; */
  /* flex-basis: 250px; */
  /* Sets how much the flex item shall grow relative to other flex items */
  /* flex-grow: 3; */
  /* flex-shrink: 1.5; */
}

.flexItem2 {
  /* flex-basis: 35%; */
  /* flex-basis: 350px; */
}

.flexItem3 {
  /* flex-basis: 30%; */
  align-self : flex-end;
}

/* Aligning individual content on the cross-axis */
.flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: center;
  /* align-items: center; */
  overflow: scroll;  
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: DodgerBlue;
}

.flex-container2 > div {
  background-color: #f1f1f1;
  color: white;
  width: 100px;
  height: 100px;
}
